<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <title>{{title}}</title>
     <link href="bootstrap.min.css" rel="stylesheet">
     <link href="styles.css" rel="stylesheet">
</head>
<style>
* {
     font-family: Verdana;
}
</style>
<body>
     <h1>navigation</h1>
     <div class="container">
          <h1>{{title}}</h1>
          {{{body}}}
     </div>
     <h1>footer</h1>
</body>
</html>
